<%= render 'layouts/sb_admin_2/datatable/head' %>

<!-- Page Heading -->
<div class='card shadow mb-4'>
  <% if options[:new_button] %>
    <div class='card-header py-3 text-right'>
      <%= link_to_new options[:new_button] %>
    </div>
  <% end %>
  <div class='card-body'>
    <div class='table-responsive'>
      <table class='table table-bordered' id='dataTable' width='100%' cellspacing='0'>
        <thead>
          <tr>
            <% columns.each_value do |value| %>
              <% label = value[:label] %>
              <% if label == 'ID' %>
                <th style = '<%= 'width: 8%'  %>'><%= label %></th>
              <% elsif label == 'Actions' %>
                <th style = '<%= 'width: 15%'  %>'><%= label %></th>
              <% else %>
                <th><%= label %></th>
              <% end %>
            <% end %>
          </tr>
        </thead>
        <% if options[:tfoot] %>
          <tfoot>
            <tr>
              <% columns.each_value do |value| %>
                <th><%= value[:label] %></th>
              <% end %>
            </tr>
          </tfoot>
        <% end %>
        <tbody>
          <% datum.each do |data| %>
            <tr>
              <% data.each_pair do |key, value| %>
                <td><%= value %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- Page Heading -->
