<style>

.bg-image {
  background-position: center;
  background-size: cover;
}

.bg-login-admin {
  background: url('https://cdn140.picsart.com/288880307005211.png?to=crop&type=webp&r=470x480&q=85');
}

.bg-login-user {
  background: url('https://cdn130.picsart.com/288881236029211.png?to=crop&type=webp&r=470x480&q=85');
}
</style>

<!-- FIXME: errors_messages missing -->

<body class='bg-gradient-<%= options[:colour] %>'>
  <div class='container'>
    <!-- Outer Row -->
    <div class='row justify-content-center'>
      <div class='col-xl-10 col-lg-12 col-md-9'>
        <div class='card o-hidden border-0 shadow-lg my-5'>
          <div class='card-body p-0'>
            <!-- Nested Row within Card Body -->
            <div class='row'>
              <div class='col-lg-6 d-none d-lg-block bg-login bg-image bg-login-<%= resource_name %>'></div>
              <div class='col-lg-6'>
                <div class='p-5'>
                  <div class='text-center'>
                    <h1 class='h4 text-gray-900 mb-4'>Log in as <%= resource_name.capitalize %></h1>
                  </div>

                  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'user' }) do |f| %>

                    <div class='form-group'>
                      <%= f.email_field :email, required: true, autofocus: true, autocomplete: 'email',
                                        id: 'inputEmail',
                                        class: 'form-control form-control-user',
                                        placeholder: 'Email Address' %>
                    </div>

                    <div class='form-group'>
                      <%= f.password_field :password, required: true, autocomplete: 'current-password',
                                           id: 'inputPassword',
                                           class: 'form-control form-control-user',
                                           placeholder: 'Password' %>
                    </div>

                    <% if devise_mapping.rememberable? %>
                      <div class='form-group'>
                        <div class='custom-control custom-checkbox small'>
                          <%= f.check_box :remember_me, class: 'custom-control-input', id: 'customCheck' %>
                          <%= f.label :remember_me, class: 'custom-control-label', for: 'customCheck' %>
                        </div>
                      </div>
                    <% end %>

                    <%= f.submit 'Log in', class: "btn btn-#{options[:colour]} btn-user btn-block" %>
                    <hr>

                    <div class='text-center'>
                      <%= render "#{resource_name.to_s.pluralize}/shared/links" %>
                    </div>

                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
